<template name="appBody">
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="{{pathFor 'home'}}">
            <img id="logo-img" src="/img/207Hack.png" alt="207Hack">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Information</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a class="btn-join" href="{{pathFor 'join'}}">Join</a></li>
            <!--<li>
              <p class="navbar-btn">
                <a class="btn btn-primary btn-signin" href="#">Sign In</a>
              </p>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>

    {{> yield}}
  </div>
</template>
