<template name="HackInfoSnippet">
  <dl id="hack-info-snippet">
    <dt><h2>Who?</h2></dt>
    <dd><strong>You!!</strong> Solo, or with a team of up to <em>5</em></dd>

    <dt><h2>What?</h2></dt>
    <dd>Hackathon - <em>see definition</em></dd>

    <dt><h2>Where?</h2></dt>
    <dd>Maine South High School, <em>cafeteria</em></dd>

    <dt><h2>When?</h2></dt>
    <dd>Saturday, February 28th 11am to Sunday, March 1st 3:30pm</dd>

    <dt><h2>Why?</h2></dt>
    <dd>Build / hack / create something awesome, and meet awesome people</dd>
  </dl>
</template>
