<template name="hackathonDefinition">
  <h2 id="definition">Hackathon <small>(noun) [hakəθɒn]</small></h2>
  <p>
  	An event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming.
  </p>
  <p>
    <em>
    	<small>
    		Build whatever you can in the time alloted. Feel free to use whatever tools or APIs you would like but
    		<strong>all of your work should be done within the timeframe, no work done beforehand</strong>.
    	</small>
    </em>
  </p>
</template>
