<template name="scheduleLower">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="lead schedule-list">
        <h2>Saturday</h2>
        <h3>11am - Noon</h3>
        <p>Arrive at cafeteria and claim a spot to hack at.</p>
        <h3>Noon</h3>
        <p>Start hacking. Yup! Now. Go!</p>
        <h3>10pm</h3>
        <p>Park Ridge curfew starts, everyone will need to stay in the building until curfew ends. <em>If you need to catch some Zzzs, go ahead.</em></p>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <div class="lead schedule-list">
        <h2>Sunday</h2>
        <h3>6am</h3>
        <p>Curfew ends.</p>
        <h3>Noon</h3>
        <p>Stop, hacking. Time's up!</p>
        <h3>1pm</h3>
        <p>Show off hacks. YO! CHECK THIS OUT!</p>
        <h3>3pm</h3>
        <p>A.W.A.R.D.S.</p>
      </div>
    </div>
  </div>
</template>
